{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Password Generator</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<header>
		<h1>Password Generator</h1>
	</header>
	<main>
		<form id="password-form">
			<button type="button" id="generate-password-button">Generate Password</button>
		</form>
		<div class="password-output">
			<p id="password-display">Your password will appear here</p>
		</div>
	</main>
	<script src="{% static 'script.js' %}"></script>
</body>
</html>
